In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv("Data1.csv")
print(data)

      Request id Pickup point  Driver id             Status  \
0            619      Airport        1.0     Trip Completed
1            867      Airport        1.0     Trip Completed
2           1807         City        1.0     Trip Completed
3           2532      Airport        1.0     Trip Completed
4           3112         City        1.0     Trip Completed
...          ...          ...        ...                ...
6740        6745         City        NaN  No Cars Available
6741        6752      Airport        NaN  No Cars Available
6742        6751         City        NaN  No Cars Available
6743        6754         City        NaN  No Cars Available
6744        6753      Airport        NaN  No Cars Available

        Request timestamp       Drop timestamp
0         11/7/2016 11:51      11/7/2016 13:00
1         11/7/2016 17:57      11/7/2016 18:47
2          12/7/2016 9:17       12/7/2016 9:58
3         12/7/2016 21:08      12/7/2016 22:03
4     13-07-2016 08:33:16  13-07-2016 09:25:47
...                   ...                  ...
6740  15-07-2016 23:49:03                  NaN
6741  15-07-2016 23:50:05                  NaN
6742  15-07-2016 23:52:06                  NaN
6743  15-07-2016 23:54:39                  NaN
6744  15-07-2016 23:55:03                  NaN

[6745 rows x 6 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

In [5]:
data.describe(include='all')

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
count,6745.000000,6745,4095.000000,6745,6745,2831
unique,NaN,2,NaN,3,5618,2598
top,NaN,City,NaN,Trip Completed,11/7/2016 19:02,11/7/2016 13:00
freq,NaN,3507,NaN,2831,6,4
mean,3384.644922,NaN,149.501343,NaN,NaN,NaN
std,1955.099667,NaN,86.051994,NaN,NaN,NaN
min,1.000000,NaN,1.000000,NaN,NaN,NaN
25%,1691.000000,NaN,75.000000,NaN,NaN,NaN
50%,3387.000000,NaN,149.000000,NaN,NaN,NaN
75%,5080.000000,NaN,224.000000,NaN,NaN,NaN
max,6766.000000,NaN,300.000000,NaN,NaN,NaN

In [6]:
data.shape

(6745, 6)

In [7]:
data.isnull().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

In [8]:
data.dtypes

Request id             int64
Pickup point          object
Driver id            float64
Status                object
Request timestamp     object
Drop timestamp        object
dtype: object